################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FinalProjectWorkspace.vcxproj
/FinalProjectWorkspace.vcxproj.filters
